hostname: ISP-2
ip_routing: true
spanning_tree:
  mode: none
loopback_interfaces:
- name: Loopback10
  description: ISP_lo10
  shutdown: false
  ip_address: 192.168.0.26/32
ethernet_interfaces:
- name: Ethernet1
  peer: P20
  type: routed
  shutdown: false
  mtu: 1500
  ip_address: 192.26.53.1/24
- name: Ethernet2
  peer: P21
  type: routed
  shutdown: false
  mtu: 1500
  ip_address: 192.26.54.1/24
- name: Ethernet3
  peer: RR3
  type: routed
  shutdown: false
  mtu: 1500
  ip_address: 192.26.76.1/24
- name: Ethernet4
  peer: RR4
  type: routed
  shutdown: false
  mtu: 1500
  ip_address: 192.26.77.1/24
- name: Ethernet5
  peer: Edge20
  type: routed
  shutdown: false
  mtu: 1500
  ip_address: 192.20.26.2/24
- name: Ethernet6
  peer: Edge21
  type: routed
  shutdown: false
  mtu: 1500
  ip_address: 192.21.26.2/24
- name: Ethernet7
  peer: Edge22
  type: routed
  shutdown: false
  mtu: 1500
  ip_address: 192.22.26.2/24
- name: Ethernet8
  peer: Edge23
  type: routed
  shutdown: false
  mtu: 1500
  ip_address: 192.23.26.2/24
- name: Ethernet9
  peer: Edge24
  type: routed
  shutdown: false
  mtu: 1500
  ip_address: 192.24.26.2/24
- name: Ethernet10
  peer: ISP-3
  type: routed
  shutdown: false
  mtu: 1500
  ip_address: 192.26.75.1/24
router_bgp:
  as: 65203
  router_id: 192.168.0.26
  neighbors:
    - ip_address: 192.20.26.1
      remote_as:  65000
      allowas_in:
        enabled: true
        # Number of local ASNs allowed in a BGP update.
        times: 6
    - ip_address: 192.21.26.1
      remote_as:  65000
      allowas_in:
        enabled: true
        # Number of local ASNs allowed in a BGP update.
        times: 6
    - ip_address: 192.22.26.1
      remote_as:  65000
      allowas_in:
        enabled: true
        # Number of local ASNs allowed in a BGP update.
        times: 6
    - ip_address: 192.23.26.1
      remote_as:  65000
      allowas_in:
        enabled: true
        # Number of local ASNs allowed in a BGP update.
        times: 6
    - ip_address: 192.24.26.1
      remote_as:  65000
      allowas_in:
        enabled: true
        # Number of local ASNs allowed in a BGP update.
        times: 6
    - ip_address: 192.26.53.2
      remote_as:  65000
      allowas_in:
        enabled: true
        # Number of local ASNs allowed in a BGP update.
        times: 6
    - ip_address: 192.26.54.2
      remote_as:  65000
      allowas_in:
        enabled: true
        # Number of local ASNs allowed in a BGP update.
        times: 6
    - ip_address: 192.26.76.2
      remote_as:  65000
      allowas_in:
        enabled: true
        # Number of local ASNs allowed in a BGP update.
        times: 6
    - ip_address: 192.26.77.2
      remote_as:  65000
      allowas_in:
        enabled: true
        # Number of local ASNs allowed in a BGP update.
        times: 6
    - ip_address: 192.26.75.2
      remote_as:  65002
      allowas_in:
        enabled: true
        # Number of local ASNs allowed in a BGP update.
        times: 6
  address_family_ipv4:
    neighbors:
      - ip_address: 192.20.26.1
        activate: true
        route_map_out: DEFAULTONLY
      - ip_address: 192.21.26.1
        activate: true
        route_map_out: DEFAULTONLY
      - ip_address: 192.22.26.1
        activate: true
        route_map_out: DEFAULTONLY
      - ip_address: 192.23.26.1
        activate: true
        route_map_out: DEFAULTONLY
      - ip_address: 192.24.26.1
        activate: true
        route_map_out: DEFAULTONLY
      - ip_address: 192.26.53.2
        activate: true
        route_map_out: DEFAULTONLY
      - ip_address: 192.26.54.2
        activate: true
        route_map_out: DEFAULTONLY
      - ip_address: 192.26.76.2
        activate: true
      - ip_address: 192.26.77.2
        activate: true
      - ip_address: 192.26.75.2
        activate: true
    networks: 
      - prefix: 192.26.76.0/24
      - prefix: 192.26.77.0/24
      - prefix: 192.168.0.26/32
      - prefix: 0.0.0.0/0
    redistribute_routes:
      - source_protocol: connected

static_routes:
  - vrf: default
    destination_address_prefix: 0.0.0.0/0
    interface: Null0


prefix_lists:
  - name: DEFAULTONLY
    sequence_numbers:
      - sequence: 10
        action: permit 0.0.0.0/0


  - name: ISP2CONNECTED
    sequence_numbers:
      - sequence: 10
        action: permit 192.26.76.0/24
      - sequence: 20
        action: permit 192.26.77.0/24
      - sequence: 30
        action: permit 192.20.26.0/24
      - sequence: 40
        action: permit 192.21.26.0/24
      - sequence: 50
        action: permit 192.22.26.0/24
      - sequence: 60
        action: permit 192.23.26.0/24
      - sequence: 70
        action: permit 192.24.26.0/24

route_maps:
  # Route-map Name.
  - name: DEFAULTONLY
    sequence_numbers:
        # Sequence ID.
      - sequence: 10
        type: permit
        # List of "match" statements.
        match:
            # Match as string.
            # Example: "ip address prefix-list PL-LOOPBACKS-EVPN-OVERLAY"
          - ip address prefix-list DEFAULTONLY
  
  - name: ISP2CONNECTED
    sequence_numbers:
      - sequence: 10
        type: permit
        match:
          - ip address prefix-list ISP2CONNECTED
         
        
 

